{% load static %}


    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Fakultetimiz haqida</h2>
            <p>O'zbekiston Respublikasi Prezidentining 2020 yil 21-22 may kunlari Andijon viloyatiga tashrifi bo'yicha tayyorlangan 34-sonli majlis bayonnomasi qaroriga ko'ra Jalaquduq tumanida “Axborot texnologiyalari va kompyuter injiniringi” fakulteti tashkil etildi. Fakultet decani vazifasiga p.f.n A.A. Medatov tayinlangan. Fakultet tarkibiga “Axborot texnologiyalari” va “Kompyuter injiniringi” kafedralari biriktirilgan.</p>
          </div>
  
          <div class="row gy-4">
            <div class="col-lg-6">
              <h3>O'quv jarayoni:</h3>
              <img src="{% static 'img/about.jpg' %}" class="img-fluid rounded-4 mb-4" alt="">
              <p>Magistratura yo'nalishlari</p>
              <ul class="magistr">
                <li><i class="bi bi-check-circle-fill"></i>5A110701 – “Ta’limda axborot texnologiyalari” magistratura mutaxassisligi;</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="content ps-0 ps-lg-5">
                <p class="fst-italic">
                  Bakalavryat yo'nalishlari:
                </p>
                <ul>
                  <li><i class="bi bi-check-circle-fill"></i> 5110700 – “Informatika o'qitish metodikasi” ta'lim yo'nalishi;</li>
                  <li><i class="bi bi-check-circle-fill"></i> 5111000 – Kasb ta'limi (5330200-Informatika va axborot texnologiyalari);</li>
                  <li><i class="bi bi-check-circle-fill"></i> 5110100 - Matematika va informatika;</li>
                  <li><i class="bi bi-check-circle-fill"></i> 5330500 – Kompyuter injiniringi (Kompyuter injiniringi);</li>
                  <li><i class="bi bi-check-circle-fill"></i> 5330500 - Kompyuter injiniringi (AT - servis);</li>
                  <li><i class="bi bi-check-circle-fill"></i> 5110100 - 5130200 – Amaliy matematika.</li>
                </ul>
                
  
                <div class="position-relative mt-4">
                  <img src="{% static 'img/about-2.jpg' %}" class="img-fluid rounded-4" alt="">
                  <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox play-btn"></a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
      </section>
      <!-- End About Us Section -->
  
     
  
      <!-- ======= Call To Action Section ======= -->
      <section id="call-to-action" class="call-to-action">
        <div class="container text-center" data-aos="zoom-out">
          <a href="https://www.youtube.com/watch?v=MfDs3joU5CE" class="glightbox play-btn"></a>
          <h3>Andijon davlat Universiteti Kompyuter Injiniringi va Axborot Texnologiyalari Fakulteti</h3>
          
          <a class="cta-btn" href="#contact">Bog'lanish</a>
        </div>
      </section>
      <!-- End Call To Action Section -->