{% load static %}

    <!-- ======= Rahbariyat Section ======= -->
    <section id="testimonials"  class="testimonials">
        <div class="container" data-aos="fade-up">
  
          <div  class="section-header">
            <h2>Rahbariyat</h2>
            <!-- <p>Voluptatem quibusdam ut ullam perferendis repellat non ut consequuntur est eveniet deleniti fignissimos eos quam</p> -->
          </div>
          <div ></div>
          <div class="slides-3 swiper"  data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="{% static 'img/rahbariyat/medatov_asilbek.png' %}" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>MEDATOV ASILBEK </h3>
                        <h4>Fakultet Dekani</h4>
                        <div class="stars">
                          <p class="position"> Pedagogika Fanlar Nomzodi</p>
                        </div>
                      </div>
                    </div>
                    <p>
                      <p class="phone"><strong >Telefon:</strong>+998 91 485 77 05</p>
                      <p class="email"><strong >E-pochta:</strong> amedatov@mail.ru</p>
                      <p class="admission-days"><strong >Qabul kunlari:</strong>Har Kuni</p>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="{% static 'img/rahbariyat/djoraboyev_maqsudbek.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>DJURABOYEV MAQSUDBEK </h3>
                        <h4>Yoshlar bilan ishlash boyicha dekan o'rinbosari</h4>
                        <!-- <div class="stars">
                          <p class="position"> Pedagogika Fanlar Nomzodi</p>
                        </div> -->
                      </div>
                    </div>
                    <p>
                      <p class="phone"><strong >Telefon:</strong>+998 93 253 58 50</p>
                      <p class="email"><strong >E-pochta:</strong> djuraboyev92@gmail.com</p>
                      <p class="admission-days"><strong >Qabul kunlari:</strong>Har Kuni</p>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="{% static 'img/rahbariyat/nabiyev_sherzodbek.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>NABIYEV SHERZODBEK </h3>
                        <h4>O'quv ishlari boyicha boyicha dekan o'rinbosari</h4>
                        <!-- <div class="stars">
                          <p class="position"> Pedagogika Fanlar Nomzodi</p>
                        </div> -->
                      </div>
                    </div>
                    <p>
                      <p class="phone"><strong >Telefon:</strong>+998 97 477 87 47</p>
                      <p class="email"><strong >E-pochta:</strong>sherzodbekn1994@.gmail.com</p>
                      <p class="admission-days"><strong >Qabul kunlari:</strong>Har Kuni</p>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="{% static 'img/rahbariyat/urinov_nodirbek.jpg' %}" class="testimonial-img flex-shrink-0" alt="">
                      <div>
                        <h3>URINOV NODIRBEK </h3>
                        <h4>Axborot texnologiyalari kafedra mudiri</h4>
                        <!-- <div class="stars">
                          <p class="position"> Pedagogika Fanlar Nomzodi</p>
                        </div> -->
                      </div>
                    </div>
                    <p>
                      <p class="phone"><strong >Telefon:</strong>+998 88 838 88 44</p>
                      <p class="email"><strong >E-pochta:</strong>nodirbekurinov1@gmail.com</p>
                      <p class="admission-days"><strong >Qabul kunlari:</strong>Har Kuni</p>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
              <div class="swiper-slide">
                <div class="testimonial-wrap">
                  <div class="testimonial-item">
                    <div class="d-flex align-items-center">
                      <img src="{% static 'img/rahbariyat/tajibayev_gayratbek.png' %}" class="testimonial-img flex-shrink-1" alt="">
                      <div>
                        <h3>TAJIBAYEV GAYRATBEK </h3>
                        <h4>Kompyuter inginiringi kafedra mudiri</h4>
                        <!-- <div class="stars">
                          <p class="position"> Pedagogika Fanlar Nomzodi</p>
                        </div> -->
                      </div>
                    </div>
                    <p>
                      <p class="phone"><strong >Telefon:</strong>+998 93 789 97 07</p>
                      <p class="email"><strong >E-pochta:</strong>gayrat@gmail.com</p>
                      <p class="admission-days"><strong >Qabul kunlari:</strong>Har Kuni</p>
                    </p>
                  </div>
                </div>
              </div><!-- End testimonial item -->
  
            </div>
            <div class="swiper-pagination"></div>
          </div>
  
        </div>
      </section>
      <!-- End Rahbariyat Section -->
  
      <!-- ======= Jamoa Section ======= -->
      <section id="team" class="team">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Iqtidorli yoshlar</h2>
            <p>Nulla dolorum nulla nesciunt rerum facere sed ut inventore quam porro nihil id ratione ea sunt quis dolorem dolore earum</p>
          </div>
  
          <div class="row gy-4">
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
              <div class="member">
                <img src="{% static 'img/team/team-1.jpg' %}" class="img-fluid" alt="">
                <h4>Walter White</h4>
                <span>Web Development</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
              <div class="member">
                <img src="{% static 'img/team/team-2.jpg' %}" class="img-fluid" alt="">
                <h4>Sarah Jhinson</h4>
                <span>Marketing</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
              <div class="member">
                <img src="{% static 'img/team/team-3.jpg' %}" class="img-fluid" alt="">
                <h4>William Anderson</h4>
                <span>Content</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
            <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
              <div class="member">
                <img src="{% static 'img/team/team-4.jpg' %}" class="img-fluid" alt="">
                <h4>Amanda Jepson</h4>
                <span>Accountant</span>
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End Team Member -->
  
          </div>
  
        </div>
      </section>
      <!-- End Jamoa Section -->